<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>Basic Example with JSX</title>
    <link rel="stylesheet" href="../shared/css/base.css" />
	 <link rel="stylesheet" href="./css/tictactoe.css" />
  </head>
 
    <h1>Basic Example with JSX</h1>
	<div id="container"></div>
   
    <script src="../../build/react.js"></script>
    <script src="../../build/JSXTransformer.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
   <body>
</html>

   <script type="text/jsx">
   	/** @jsx React.DOM */
	var TicTacToeDrawGrid = React.createClass({
		
	  checkWinning: function(propsCopy)
	  {
		  var found = false;
		  var patterns = [
		  {x:'0',y:'1', z:'2'},
		  {x:'3',y:'4', z:'5'},
		  {x:'6',y:'7', z:'8'},
		  
		  {x:'0',y:'3', z:'6'},
		  {x:'1',y:'4', z:'7'},
		  {x:'2',y:'5', z:'8'},
		  
		  {x:'0',y:'4', z:'8'},
		  {x:'2',y:'4', z:'6'}		
		  ];
		  
		  patterns.map(function (item) {
	   		if (propsCopy[item.x] && propsCopy[item.y] && propsCopy[item.z]) {
				
	   			if (propsCopy[item.x] == propsCopy[item.y] && propsCopy[item.x] == propsCopy[item.z]) {
	   				found = true
	   			}
	   		}
	   	})
		return found;
		  
	  },
		
	  winningMoves: function(x){
		  
		 var propsCopy;
		 var block = false;
		 var meWin = false;
		 var youWin = false;
		 
		 //Check Current Win
		 propsCopy = this.props.items.concat();
		 if (this.checkWinning(propsCopy)) {
		 	youWin = true;
		 }
		 

		 if (!youWin) {
		 	for (var x = 0; x < 9; x++) {
		 		propsCopy = this.props.items.concat();

		 		if (!propsCopy[x]) {
		 			propsCopy[x] = 'X';
		 			if (this.checkWinning(propsCopy)) {
		 				meWin = true;
		 				this.props.items[x] = 'X';
		 				this.setState({
		 					items : this.props.items
		 				});
		 				break;
		 			}
		 		}
		 	}
		 }

		 if (!meWin) {
		 	//Check Block
		 	for (var x = 0; x < 9; x++) {
		 		propsCopy = this.props.items.concat();

		 		if (!propsCopy[x]) {
		 			propsCopy[x] = 'O';
		 			if (this.checkWinning(propsCopy)) {
		 				block = true;
		 				this.props.items[x] = 'X';
		 				this.setState({
		 					items : this.props.items
		 				});
		 				break;
		 			}
		 		}
		 	}

		 }

		 if (!block && !meWin && !youWin) {
		 	this.computerMove();
		 }

		 if (meWin) {
		 	alert('I win');
		 }

		 if (youWin) {
		 	alert('You win');
		 }
		 },

		 computerMove : function () {
		 	for (var x = 0; x < 9; x++) {
		 		if (!this.props.items[x]) {
		 			this.props.items[x] = 'X'
		 				this.setState({
		 					items : this.props.items
		 				});
		 			break;
		 		}
		 	}
		 },

		 handleClick : function (e) {
		 	if (!this.props.items[e]) {
		 		this.props.items[e] = 'O'
		 			this.setState({
		 				items : this.props.items
		 			});
		 		this.winningMoves('Me');
		 	}
		 },
		
	
	  render: function() {
		return (
		<div>
		
			<div id="row1">

				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'0'} id={'left'}/>
				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'1'} id={'middle'}/>
				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'2'} id={'right'}/>

			</div>
			
			<div id="row2">

				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'3'} id={'left'}/>
				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'4'} id={'middle'}/>
				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'5'} id={'right'}/>

			</div>
			
			<div id="row3">

				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'6'} id={'left'}/>
				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'7'} id={'middle'}/>
				 <TicTacToeCell onClick={this.handleClick} items={this.props.items} num={'8'} id={'right'}/>

			</div>
		
		</div>
		 
		);
	  }
	});
	
	var Stars = React.createClass({
		
			componentDidMount: function() {
				this.animate();
			},
			
			render : function () {
				console.log('in render');
				return(
				<svg viewBox = "0 0 200 200">
				{this.props.stars.map(function (n) {
					return <circle cx = {n.x} cy = {n.y} r = "1" fill = "red"/>;
				})}
				 </svg>
				);
			},
				
			animate : function () {
				var wprops = this.props.stars;
				var indx=0;
				setInterval(function () { {
						wprops.map(function (n) {
							
							wprops[indx].x = n.x-1;
							wprops[indx].y = n.y-1;
							indx++;
						})
						
						this.setState({stars : wprops});
					}
				}, 3000);
				
			//	this.setState();
			}
				
		});
	
	
	var StarFieldApp = React.createClass({
		
	
		getInitialState : function () {
			var items = new Array(9);
			var stars = [];
			var youOrMe = Math.floor((Math.random() * 2) + 0);
			if (youOrMe == '0'){
				items[Math.floor((Math.random() * 8) + 0)] = 'X';
			}
			
			if (youOrMe == '1'){
				alert('you go first');
			}
			
			for(var i=0;i<500;i++)
			{
				x = Math.floor((Math.random() * 200) + 1)
				y = Math.floor((Math.random() * 200) + 1)
				stars.push({"x":x, "y":y});
			}
			
			return {
				scores : [],
				items : items,
				stars : stars,
				message : '',
				winner:''
			};
		},
		
	  render: function() {
		return (
		 <div style={{border: '1px solid red', background:'black'}}>
			<Stars stars={this.state.stars}/>
		</div>
		);
	  }
	});
	
	React.render(<StarFieldApp/>, document.body);
	
	
    </script>
  </body>
