<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>Basic Example with JSX</title>
    <link rel="stylesheet" href="../shared/css/base.css" />
	 <link rel="stylesheet" href="./css/tictactoe.css" />
  </head>
 
    <h1>Basic Example with JSX</h1>
	<div id="container"></div>
   
    <script src="../../build/react.js"></script>
    <script src="../../build/JSXTransformer.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
   <body>
	<video id="myVideo" width="320" height="176">
	  <source src="mov_bbb.mp4" type="video/mp4">
	  <source src="mov_bbb.ogg" type="video/ogg">
	  Your browser does not support HTML5 video.
	</video>

   <script type="text/jsx">
   	/** @jsx React.DOM */

	var ShowHeader = React.createClass({
		
			render : function () {
				return(
				<div>
					<div id="header">
					{this.props.starsHeader}
					</div>
					<Stars stars={this.props.stars} updateHeader={this.props.updateHeader} />
					<FiringBar properties={this.props.properties} moveFiringBar={this.props.moveFiringBar}/>
				</div>
				
				);
			}
	});
		
	var FiringBar = React.createClass({
			
			componentWillMount : function () {
				document.addEventListener("keydown", this.props.moveFiringBar, false);
			},

			render : function () {
				console.log('firing bar render' +  this.props);
				return (
				<div>
					<div style={{left:this.props.properties.position}} className='turret' height={this.props.properties.height} width={this.props.properties.width} id="turret">&nbsp;
					<div className="turret" style={{bottom:this.props.properties.position}} >test</div>
				</div>
				</div>
				);
			}
	
		});
	
	var Stars = React.createClass({
		

			componentDidMount: function() {
				this.animate();
			},

			
			
			checkWin: function(e)
			{
				var filteredList  = _.where(this.props.stars, {fill:"red"});
				if ((filteredList.length === 0) || (!filteredList))
				{
					return true;
				}
				
				return false;
			},
			
			testClick : function (e) {
				if (e.target.id) {
					var x = e.target.id - 1;
					//this.props.stars[x].fill = "green";
					this.props.stars = this.props.stars.splice(x, 1);
					this.props.updateHeader('Good shot!!');

				} else {
					this.props.updateHeader('You suck!!');
				}
				
			},
			
			render : function () {
			//	console.log('in stars render')
				var indx=0;
				var cIndx;
				return(
			
				<svg height="775px" viewBox = "0 0 200 200" onClick={this.testClick}>
				{this.props.stars.map(function (n) { 
					indx++;
					return <circle cx = {n.x} cy = {n.y} r = "3" id={indx} fill = {n.fill}/>; 
				})}
				 </svg>
				);
			},
			
			reanimate : function (state)
			{
				var indx = 0;
				var wprops = this.props.stars;
				this.props.stars.map(function (n) {
					wprops[indx].x = n.x + 0.05;
					wprops[indx].y = n.y + 0.05;

					if (wprops[indx].x > 200) {
						wprops[indx].x = 0;
					}
					if (wprops[indx].y > 200) {
						wprops[indx].y = 0;
					}
					indx++;
				})
				state.setState({
					stars : wprops
				});
				
				if (this.checkWin()) {
						this.props.updateHeader('You Win!!');
					}
			},
				
			animate : function () {
				setInterval(this.reanimate, 1, this);
			}
			
			
		});
	
	
	var StarFieldApp = React.createClass({ 
		
	
		getInitialState : function () {
			var items = [];
			var stars = [];
			var youOrMe = Math.floor((Math.random() * 2) + 0);
			if (youOrMe == '0'){
				items[Math.floor((Math.random() * 8) + 0)] = 'X';
			}
			
			for (var i = 0; i < 5; i++) {
				for (var z = 1; z < 12; z++) {
					
					x = z * 10;
						y = i * 10;
						stars.push({
							"x" : x,
							"y" : y,
							'fill' : 'red'
						});
				}
			}
			
			return {
				scores : [],
				items : items,
				stars : stars,
				message : '',
				winner:'',
				barx:'',
				bary:'',
				starsHeader:'',
				position: 0,
				shots[]
				
			};
		},
		
		updateHeader: function(text){
			this.setState({starsHeader:text});
		},
		
		
		fireShot : function (e){
			var shots = this.props.shots;
			
			shots.push({shot:x, position:y});
			
			do
			{
			_.each(shots, function (someThing) {
				doSomeWorkOn(someThing);
			});
			while(shots.length > 0);
			}
			
			
			
		},
		
				
		moveFiringBar : function (e) {

			if (e.keyCode == '39') {
					position = position + 5;
					this.setState({position : position});
				}

				if (e.keyCode == '37') {
					position = position - 5;
					this.setState({position : position});
				}

				if (e.keyCode == '32') {
					this.fireShot();
				};

			},
		
		
		
	  render: function() {
		return (
		 <div style={{width: '775px;', border: '1px solid red', background:'white'}}>
			<ShowHeader properties={this.state} stars={this.state.stars} starsHeader={this.state.starsHeader} updateHeader={this.updateHeader} moveFiringBar={this.moveFiringBar}/>
		</div>
		);
	  }
	 
	});
	
	React.render(<StarFieldApp/>, document.body);
	
	
    </script>
  </body>
